@use '_variables.scss' as *;


/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: $fg-primary;

@import "bootstrap/scss/variables";

// adding custom colors
$custom-colors: (
 // custom color "fg-body": $fg-body,
 
);
// Merge the maps of colors
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

// overrade fonts locations
$bootstrap-icons-font-src:url("/src/assets/icons-fonts/bootstrap-icons.woff2") format("woff2"),
url("/src/assets/icons-fonts/bootstrap-icons.woff")  format("woff");
// bootstrap icons
@import "bootstrap-icons/font/bootstrap-icons.scss";


