@use '_variables.scss' as *;


/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: $fg-primary;
$info: $fg-info;

@import "bootstrap/scss/variables";

// adding custom colors
$custom-colors: (
 // custom color "fg-body": $fg-body,
 
);
// Merge the maps of colors
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

// overrade fonts locations
$bootstrap-icons-font-src:url("/src/assets/icons-fonts/bootstrap-icons.woff2") format("woff2"),
url("/src/assets/icons-fonts/bootstrap-icons.woff")  format("woff");
// bootstrap icons
@import "bootstrap-icons/font/bootstrap-icons.scss";

/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

body{
    margin: 0 auto;
    font-family: $raleway;
  /*   background-color: #202020; */
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}